$black: #000 !default;
$white: #fff !default;
$gray: #969696 !default;
$light-gray: #e0e3e6 !default;
$dark-gray: #a7b2bc !default;
$red: #f97d75 !default;
$blue: #04a7c8 !default;
$green: #6ed078 !default;
$yellow: #ebe16f !default;
$orange: #f18d1a !default;

$primary-color: $blue !default;
$secondary-color: $red !default;
$success-color: $green !default;
$alert-color: $red !default;
$warn-color: $yellow !default;
$disabled-color: $light-gray !default;
$text-color: $black !default;
$bg-color: $white !default;
$bg-gray: $light-gray !default;
$modal-color: rgba($black, 0.5) !default;
$border-color: $light-gray !default;
$shadow-color: rgba(28, 64, 128, 0.15) !default;
$link-text-color: $text-color !default;

$min-width: 280px !default;
$max-width: 1200px !default;
$header-height: 90px !default;
$header-height-mobile: 50px !default;
$footer-height: 150px !default;
$footer-height-mobile: 150px !default;
$drawer-left-width: 120px !default;
$drawer-right-width: 220px !default;
$aside-width-mobile: 230px !default;
$aside-width: 300px !default;
$screen-padding: 40px !default;
$screen-padding-mobile: 20px !default;
$border: 1px solid $border-color !default;
$radius: 8px !default;
$shadow: 0px 1px 4px $shadow-color !default;

$font-black: 900 !default;
$font-bold: 700 !default;
$font-regular: 400 !default;
$font-light: 200 !default;
$font-xxs: 0.75em !default;
$font-xs: 0.8em !default;
$font-sm: 0.9em !default;
$font-md: 1em !default;
$font-lg: 1.2em !default;
$font-xl: 1.5em !default;
$font-xxl: 2em !default;
$font-xxxl: 3em !default;
$line-height: 1.5em !default;
