@use "@/assets/styles/partials/token";
@use "@/assets/styles/partials/mixins";

.info {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border-bottom: token.$border;
  @include mixins.landscape {
    grid-template-columns: minmax(130px, 20%) 1fr;
  }

  thead,
  tbody,
  tfoot,
  tr {
    display: contents;
  }
  th,
  td {
    display: block;
    padding: token.$screen-padding-mobile 0;
    text-align: start;
    line-height: 2em;
    @include mixins.landscape {
      border-top: token.$border;
    }
    @include mixins.tablet {
      padding: token.$screen-padding-mobile !important;
    }
  }
  th {
    border-top: token.$border;
    padding: token.$screen-padding-mobile 0 0;
  }
}
