@use "@/assets/styles/partials/mixins";

.showcase {
  position: relative;
  width: 100%;
  overflow: hidden;
  .container {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  &:global(.left) {
    .wrapper {
      position: absolute;
      left: 0;
      &:first-child {
        animation: infinity-scroll-left-50 20s infinite linear -15s both;
      }
      &:nth-child(2) {
        animation: infinity-scroll-left-50 20s infinite linear -10s both;
      }
      &:nth-child(3) {
        animation: infinity-scroll-left-50 20s infinite linear -5s both;
      }
      &:nth-child(4) {
        animation: infinity-scroll-left-50 20s infinite linear 0s both;
      }
      @include mixins.tablet {
        &:first-child {
          animation: infinity-scroll-left-25 20s infinite linear -15s both;
        }
        &:nth-child(2) {
          animation: infinity-scroll-left-25 20s infinite linear -10s both;
        }
        &:nth-child(3) {
          animation: infinity-scroll-left-25 20s infinite linear -5s both;
        }
        &:nth-child(4) {
          animation: infinity-scroll-left-25 20s infinite linear 0s both;
        }
      }
    }
  }
  &:global(.right) {
    position: relative;
    height: 100vh;
    .wrapper {
      position: absolute;
      left: 0;
      width: 25vw;
      &:first-child {
        animation: infinity-scroll-right-50 20s infinite linear -15s both;
      }
      &:nth-child(2) {
        animation: infinity-scroll-right-50 20s infinite linear -10s both;
      }
      &:nth-child(3) {
        animation: infinity-scroll-right-50 20s infinite linear -5s both;
      }
      &:nth-child(4) {
        animation: infinity-scroll-right-50 20s infinite linear 0s both;
      }

      @include mixins.tablet {
        &:first-child {
          animation: infinity-scroll-right-25 20s infinite linear -15s both;
        }
        &:nth-child(2) {
          animation: infinity-scroll-right-25 20s infinite linear -10s both;
        }
        &:nth-child(3) {
          animation: infinity-scroll-right-25 20s infinite linear -5s both;
        }
        &:nth-child(4) {
          animation: infinity-scroll-right-25 20s infinite linear 0s both;
        }
      }
    }
  }
  &:global(.slice) {
    .wrapper {
      &:first-child,
      &:nth-child(5) {
        .image {
          object-position: 0 50%;
        }
      }
      &:nth-child(2) {
        .image {
          object-position: 34% 50%;
        }
      }
      &:nth-child(3) {
        .image {
          object-position: 67% 50%;
        }
      }
      &:nth-child(4) {
        .image {
          object-position: 100% 50%;
        }
      }
    }
  }
}

.wrapper {
  width: 50vw !important;
  height: 100vh;
  @include mixins.tablet {
    width: 34vw !important;
  }
}

.image {
  object-fit: cover;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

@keyframes infinity-scroll-left-25 {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-34vw);
  }
}
@keyframes infinity-scroll-right-25 {
  from {
    transform: translateX(-34vw);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes infinity-scroll-left-50 {
  from {
    transform: translateX(150vw);
  }
  to {
    transform: translateX(-50vw);
  }
}
@keyframes infinity-scroll-right-50 {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(150vw);
  }
}
