@use '@/assets/styles/partials/token';
@use '@/assets/styles/partials/mixins';

.company {
  width: 100%;
  padding: token.$screen-padding-mobile;
  @include mixins.tablet {
    padding: token.$screen-padding * 2 token.$screen-padding;
  }
}

.logo {
  margin: token.$screen-padding-mobile 0;
  width: 200px;
  @include mixins.tablet {
    margin: token.$screen-padding-mobile;
    width: 240px;
  }
}

.info {
  display: grid;
  gap: token.$screen-padding;
  @include mixins.laptop {
    grid-template-columns: 1fr 1fr;
  }
}

.member {
  display: grid;
  grid-template-columns: 1fr;
  padding: token.$screen-padding * 2 5% token.$screen-padding * 3;
  gap: max(token.$screen-padding, 10%);
  max-width: token.$max-width / 2;
  margin: auto;
  @include mixins.tablet {
    //    grid-template-columns: 1fr 1fr;
  }
}
