@use '@/assets/styles/partials/token';
@use '@/assets/styles/partials/mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: token.$header-height;
  padding: 0 token.$screen-padding-mobile;
  margin-top: -(token.$header-height);
  z-index: 1000;

  @include mixins.tablet {
    padding: 0 token.$screen-padding;
  }
}

.logo {
  width: 200px;
  fill: token.$bg-color;
  @include mixins.tablet {
    width: 240px;
  }
}
